@import "variables";
@import "themes";

/* components */
@import "buttons";
@import "header";
@import "menu";
@import "main";
@import "post";
@import "pagination";
@import "footer";
@import "video";

/* code syntax highlight */
@import "gen_syntax";
@import "syntax";
@import "slides";
