<div class="h-card">
  <header hidden>
    <p>
      <span class="p-given-name">Xavier</span>
      <span class="p-family-name">Tilley</span>
    </p>
    <p class="pronunciation" aria-label="Pronunciation of my given name" hidden>zˈe͡ɪviɚ tˈɪli</p>
  </header>

  <section id="communicate">
    <h3>Getting in touch</h3>
    <ul>
      <li>
        <a href="https://memphistechnology.org/blog/2015/05/19/join-memtech-on-slack-chat/">
        Memtech Slack:
        </a> <a href="https://memtech.slack.com/team/U3V4XC6US">@tillers</a>
      </li>
      <li>
        <a href="mailto:hippietilley@gmail.com" class="u-email">
          Email: hippietilley[at]gmail[dot]com
        </a>
      </li>
    </ul>
    <h3>Languages</h3>
    <ul>
      <li>
        <data class="p-language" value="en-US">English</data>
      </li>
      <li>
        <data class="p-language" value="sgn-US">American Sign Language</data>
      </li>
    </ul>
  </section>

  <section id="locality">
    <h3>Where in the world</h3>
    <ul>
      <li>
        <span class="p-locality">Memphis</span>,
        <span class="p-region">Tennessee</span>,
        <span class="p-country-name">United States</span>
      </li>
    </div>
  </section>

  <section id="personals">
    <h3>The other details</h3>
    <ul>
      <li>Age: <data id="age" value="33">33</data></li>
      <li>Birthday: <data class="dt-bday">
        <time class="dt-bday">1990-07-11</time></data>
      </li>
      <li>Gender: <span class="p-gender-identity">Agender</span></li>
      <li>Pronouns: <ul>
        <li><a href="https://pronouns.alysbrooks.com/they/.../themselves">they/them</a></li>
        <li><a href="https://pronouns.alysbrooks.com/e">Spivak pronouns (e/em)</a></li></ul>
      </li>
    </ul>
  </section>
</div>